{% extends 'glowny.html' %}
{% block tytul %} Analiza Rachunku {% endblock %}
{% block strona %}
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Firenet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pobranie danych
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">EXCEL</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">XML</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="table-responsive">
        <table class="table table-dark table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET">
                            <div class="form-floating">
                                <input 
                                    type="text" 
                                    class="form-control-sm text-dark" 
                                    name="szukaj_id"
                                    placeholder="Podaj Id"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET">
                            <div class="form-floating">
                                <input 
                                    type="text" 
                                    class="form-control-sm text-dark" 
                                    name="szukaj_tytul"
                                    placeholder="Podaj tytuł"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET">
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_oper"
                                    placeholder="Podaj rodzaj operaji"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_kwota"
                                    placeholder="Podaj kwotę"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_waluta"
                                    placeholder="Podaj walutę"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_zrod"
                                    placeholder="Podaj konto źródłowe"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_docel"
                                    placeholder="Podaj konto docelowe"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_data_real"
                                    placeholder="Podaj datę realizacji"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_data_zl"
                                    placeholder="Podaj datę zlecenia przelewu"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_zlece"
                                    placeholder="Podaj zleceniodawcę"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_bene"
                                    placeholder="Podaj beneficjenta"
                                >
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-floating" action="." method="GET" >
                            <div class="form-floating">
                                <input 
                                    class="form-control-sm text-dark" 
                                    type="search" 
                                    name="szukaj_kod_rodz"
                                    placeholder="Podaj kod rodzaju transakcji"
                                >
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
            {% if dane|length == 0 %}
                <h2 class="bg-dark text-light p-2">Brak danych</h2>
            {% else %}
                {% for danes in dane %} 
                    <tbody>
                        <tr>
                            <th scope="col" class= "fw-lighter">{{danes.id}}</th>
                            <th scope="col" class="fw-lighter">{{danes.tytul}}</th>
                            <th scope="col" class="fw-lighter">{{danes.rodzaj_operaji}}</th>
                            <th scope="col" class="fw-lighter">{{danes.kwota}}</th>
                            <th scope="col" class= "fw-lighter">{{danes.waluta}}</th>
                            <th scope="col" class="fw-lighter">{{danes.konto_zrodlowe}}</th>
                            <th scope="col" class="fw-lighter">{{danes.konto_docelowe}}</th>
                            <th scope="col" class="fw-lighter">{{danes.data_realizacji}}</th>
                            <th scope="col" class="fw-lighter">{{danes.data_zlecenia_przelewu}}</th>
                            <th scope="col" class="fw-lighter">{{danes.zleceniodawca}}</th>
                            <th scope="col" class="fw-lighter">{{danes.beneficjent}}</th>
                            <th scope="col" class="fw-lighter">{{danes.kod_rodzaju_transakcji}}</th>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    {% if dane.has_other_pages %}
        <nav aria-label="Page navigation example " style="margin-bottom: 50px;">
            <ul class="pagination justify-content-center">
                {% if dane.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-dark" href="?page={{ dane.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons text-danger "><i class="fas fa-backward"></i></i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled page-item">
                        <a class="page-link bg-dark" href="#!">
                            <i class="material-icons"><i class="fas fa-backward"></i></i>
                        </a>
                    </li>
                {% endif %}
                {% for num in dane.paginator.page_range %}
                    {% if dane.number == num %}
                        <li class=" page-item bg-dark">
                            <a class="page-link bg-dark text-white" href="#!">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link bg-dark text-danger" style="opacity: 0.9;" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if dane.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark" href="?page={{ dane.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons text-danger"><i class="fas fa-forward"></i></i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled page-item"><a class="page-link bg-dark" href="#!"><i class="material-icons"><i class="fas fa-forward"></i></i></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
{% endblock %}